@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "poppins";
}

.carousel-item {
  height: 500px;
}
.carousel-item img {
  height: 100%;
  object-fit: cover;
}

.blog .col img {
  height: 250px;
  object-fit: cover;
}
